body
{
    margin: 0;

    background-image: url("images/website_bg_darker.png");
    background-repeat: repeat;

    color: #d7c8a0;
    font-family: Verdana, sans-serif;
}

#page
{
    width: 95%;
    max-width: 900px;

    margin: 40px auto;

    padding: 20px;
}

h1
{
    text-align:center;
    margin-bottom:30px;
}

#search
{
    width:100%;
    padding:12px;
    font-size:18px;
    margin-bottom:25px;
    box-sizing:border-box;
	
	background:#1d1d1d;

	color:#d7c8a0;

	border:3px solid #777;
}

#ring-count
{
    text-align: center;
    color: #b5b5b5;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 20px;
}

#rarity-filters
{
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-bottom: 18px;
}

.rarity-button
{
    background: #222;
    border: 2px solid #666;

    padding: 8px 18px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;

    transition: .15s;
}

.rarity-button:hover
{
    background: #303030;
}

.rarity-button.active
{
    color: black !important;
}

.ring
{
    display: flex;
    align-items:flex-start;

    background: rgba(20, 20, 20, 0.75);

    border:3px solid #7d7d7d;

    padding: 18px;
    margin-bottom: 18px;
	
	transition: .15s;
}

.ring img
{
    width:96px;
    height:96px;
    margin-right:20px;
}

.ring-name
{
    font-size:26px;
    margin-bottom:8px;
}

.ring-desc
{
    color:#c6b893;
	white-space: pre-line;
}


.ring-icon
{
    width:120px;

    display:flex;
    justify-content:center;
    align-items:center;

    align-self:stretch;

    border-right:3px solid #777;

    margin-right:25px;
}

.ring-info
{
    padding-top:12px;
}

.ring:hover
{
    border-color:#d7c8a0;

    background:rgba(35,35,35,.85);
}

.rarity-Common
{
    color: #b8b8b8;
    border-color: #b8b8b8;
}

.rarity-Common.active
{
    background: #b8b8b8;
}

.rarity-Uncommon
{
    color: #5ec45e;
    border-color: #5ec45e;
}

.rarity-Uncommon.active
{
    background: #5ec45e;
}

.rarity-Rare
{
    color: #4aa3ff;
    border-color: #4aa3ff;
}

.rarity-Rare.active
{
    background: #4aa3ff;
}

.rarity-Epic
{
    color: #b06cff;
    border-color: #b06cff;
}

.rarity-Epic.active
{
    background: #b06cff;
}

.rarity-Legendary
{
    color: #ff9800;
    border-color: #ff9800;
}

.rarity-Legendary.active
{
    background: #ff9800;
}


